@font-face {
  font-family: "Dosis";
  src: url("Dosis-VariableFont_wght.ttf") format("truetype");
}

html,
body {
  height: 100%;
}

body {
  font-family: "Dosis";
  font-size: 22px;
  display: flex;
  flex-direction: column;
}

.primary-color {
  background-color: #113e66;
  color: white;
}

.glyph {
  width: 29px;
  height: 29px;
}

