{{page-title "Home"}}
<div class="container">
  <div class="w-100 text-center py-5">
    <LinkTo @route="index">
      <img class="img-fluid rounded-circle"
           src="https://via.placeholder.com/512x512"
           alt="Bake by Daphne"/>
    </LinkTo>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mb-5 d-flex flex-column justify-content-center order-md-1">
      <h5>MINT TO BE</h5>
      <Lorem/>
    </div>
    <div class="col-12 col-md-6 mb-5 text-center">
      <img class="img-fluid rounded-circle"
           src="https://via.placeholder.com/512"
           alt="Mint to be cookie">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mb-5 text-end d-flex flex-column justify-content-center">
      <h5>CHOC FULLA LOVE</h5>
      <Lorem/>
    </div>
    <div class="col-12 col-md-6 mb-5 text-center">
      <img class="img-fluid rounded-circle"
           src="https://via.placeholder.com/512"
           alt="Choc fulla love cookie">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mb-5 d-flex flex-column justify-content-center order-md-1">
      <h5>YOURE THE BERRY BEST</h5>
      <Lorem/>
    </div>
    <div class="col-12 col-md-6 mb-5 text-center">
      <img class="img-fluid rounded-circle"
           src="https://via.placeholder.com/512"
           alt="You're the berry best cookie">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mb-5 text-end d-flex flex-column justify-content-center">
      <h5>ORANGE YOU CUTE</h5>
      <Lorem/>
    </div>
    <div class="col-12 col-md-6 mb-5 text-center">
      <img class="img-fluid rounded-circle"
           src="https://via.placeholder.com/512"
           alt="Orange you cute cookie">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mb-5 d-flex flex-column justify-content-center order-md-1">
      <h5>LEMON GET TO KNOW YA</h5>
      <Lorem/>
    </div>
    <div class="col-12 col-md-6 mb-5 text-center">
      <img class="img-fluid rounded-circle"
           src="https://via.placeholder.com/512"
           alt="Lemon get to know ya">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 mb-5 text-end d-flex flex-column justify-content-center">
      <h5>PANDAN ME, IM COCONUTTY FOR YOU</h5>
      <Lorem/>
    </div>
    <div class="col-12 col-md-6 mb-5 text-center">
      <img class="img-fluid rounded-circle"
           src="https://via.placeholder.com/512"
           alt="Pandan me, im coconutty for you cookie">
    </div>
  </div>
</div>
